{{define "add"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" "Add"}}
  <body>
    {{template "header" "Add"}}
    <main>
      <aside>
        <form method = "POST">
            <input type="text" placeholder="너의 블록" required name="blockData"/>
            <button>블록 추가</button>
        </form>
      </aside>
    </main>
    {{template "footer"}}
  </body>
</html>
{{end}}
